*
!Repository/
!Repository/SSL/
!Manager/
!Manager/SSL/
!Manager/CCCerts
!Client/
!Client/SSL/
!*.py
!*.json
!Repository/*.py
!Repository/*.json
!Repository/SSL/*.pem
!Repository/SSL/*.sh
!Manager/*.py
!Manager/*.json
!Manager/SSL/*.pem
!Manager/SSL/*.sh
!Manager/CCCerts/*.crt
!Client/*.py
!Client/*.json
!Client/SSL/*.pem
